<!DOCTYPE html>
<html>

<head>
  <title>Home</title>
  {% include "include/head.html" %}
</head>

<body>
  {% include "include/navbar.html" %}
  <h4>Welcome!</h4>

<div class="login">
  <div class="heading">
    <h2>{{ state }}</h2>
    <form action="/accounts/login/" method="post">
    {% csrf_token %} 
        {% if user.is_authenticated %}
		<input type="hidden" name="next" value="{{ next }}" />
		{% endif %}
        <div class="input-group input-group-lg">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <input type="text" class="form-control" placeholder="Username or email" name="username">
          </div>

        <div class="input-group input-group-lg">
          <span class="input-group-addon"><i class="fa fa-lock"></i></span>
          <input type="password" class="form-control" placeholder="Password" name="password">
        </div>

        <button type="submit" class="float">Login</button>
       </form>
 		    </div>
</div>

<form action= "/createAccount/">
  <input type ="submit" value="Create Account">
</form>  

</body>
</html>
