<!DOCTYPE html>
<html>
<head>
  <title>Community Development: Events</title>
  {% include "include/head.html" %}
</head>
<body>
  {% include "include/navbar.html" %}

<h1>Events</h1>

{% if upcoming_events_list %}
<script>
  $(document).ready(function(){
    $('#eventList').dataTable({
       "order": [[ 4, "asc" ]],
       "stateSave": true
    });
  });
</script>	

<table id="eventList" class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>City</th>
      <th>Country</th>
      <th>Hashtags</th>
      <th>Local Start Time</th>
      <th>Group</th>
      <th>Applicable</th>
    </tr>
  </thead>
  <tbody>
    {% for event in upcoming_events_list %}
    <tr>
      <td><a href="{% url 'viewEvent' event.id %}" target="_blank">{{ event.name }}</a></td>
      <td>{{ event.city }}, {{ event.state }}</td>
      <td>{{ event.country }}</td>
      <td>
	{% for hashtag in event.hashtags.all %}
	  {{ hashtag.name }}<br/>
	{% endfor %}
      </td>
      <td data-order='{{ event.date_sort }}'>{{ event.local_start }}</td>
      <td>{{ event.group }}</td>
      <td>
        {% if user.is_authenticated %}
          <a href="{% url 'toggleEventNA' event.id %}">Mark Event N/A</a>
          <br/>
          <a href="{% url 'toggleGroupNA' event.group.id %}">Mark Group N/A</a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>No events are available.</p>
{% endif %}
</body>
</head>
