<!DOCTYPE html>
<html>
<head>
  <title>Community Development: Hosts</title>
  {% include "include/head.html" %}
</head>
<body>
  {% include "include/navbar.html" %}

  <h1>Hosts</h1>

  {% if user.is_authenticated %}
    <form method="POST">
      {% csrf_token %}
      <input type="submit" name="excel" value="Export Info">
    </form>
  {% endif %}

  {% if host_list %}
    <script>
      $(document).ready(function(){
      $('#peopleList').dataTable({
          "order": [[ 0, "asc" ]],
          "stateSave": true
        });
      });
    </script>
    

    <table id="peopleList" class="table table-striped">
      <thead>
	<tr>
	  <th>Name</th>
          <th>ID</th>
          <th>Event</th>
          <th>Actions</th>
	</tr>
      </thead>
      <tbody>
	{% for person in host_list %}
	<tr>
	  <td><a href="{% url 'viewHost' person.id %}">{{ person.name }}</a></td>
	  <td>{{ person.meetupID }}</td>
          <td>{{ person.eventname }}</td>
	  <td>{% if user.is_authenticated %}
          <!--<a href="{% url 'importHosts' person.id %}">Import Hosts</a>-->
          <a href="{% url 'togglePersonNA' person.id %}">Mark N/A</a>
          {% endif %}
          </td>
	</tr>
	{% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No people are available.</p>
  {% endif %}
</body>
</html>
