<!DOCTYPE html>
<html>
<head>
  <title>Community Development: People</title>
  {% include "include/head.html" %}
</head>
<body>
  {% include "include/navbar.html" %}

  <h1>People</h1>

  <form action="construction">
    <input type="submit" value="Export Info">
  </form>

  {% if person_list %}
    <table id="peopleList" class="table table-striped">
      <thead>
	<tr>
	  <th>Name</th>
	  <th>City</th>
	  <th>State</th>
	  <th>Country</th>
	</tr>
      </thead>
      <tbody>
	{% for person in person_list %}
	<tr>
	  <td><a href="{% url 'viewPerson' person.id %}">{{ person.name }}</a></td>
	  <td>{{ person.city }}</td>
	  <td>{{ person.state }}</td>
	  <td>{{ person.country }}</td>
	</tr>
	{% endfor %}
      </tbody>
    </table>
    <script>
      $(document).ready(function(){
      $('#peopleList').dataTable({
          "order": [[ 0, "asc" ]],
          "stateSave": true
        });
      });
    </script>	
  {% else %}
    <p>No people are available.</p>
  {% endif %}
</body>
</html>
