<!DOCTYPE html>
<html>
<head>
  <title>{{ person.name }}</title>
  {% include "include/head.html" %}
</head>
<body>
  {% include "include/navbar.html" %}

  <h1>{{ person.name }}</h1>

  <form action="/events/construction/">
    <input type="submit" value="Tweet at this person">
  </form>

  <p><span class="right"><img src="{{ person.photo }}"></img></span> {{ person.bio }}</p>

  <p>{{ person.city }}, {{ person.state }}, {{ person.country }} ({{ person.latitude }}, {{ person.longitude }})</p>

  <p><a href="{{ person.url }}">Source</a></p>

  <h2>Topics</h2>
  <ul>
    {% for topic in person.topics.all %}
      <li>{{ topic }}</li>
    {% endfor %}
  </ul>

  <h2>Groups</h2>
  <ul>
    {% for group in person.groups.all %}
      <li>{{ group }}</li>
    {% endfor %}
  </ul>
  
  <p>
  <a href="{{ person.person_url }}" title="{{ person.tweet }}" class="_hs_socialshare">Share</a>
  <script>
    var _hs = {
               size: 5,
               partner: "community.apache.org"
    };
    (function() {
                 var h = document.createElement('script'); h.type = 'text/javascript'; h.async = true;
                 h.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'dtirydke3kdq7.cloudfront.net/hootlet.js?v=1';
                 var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(h, s);
    })();
  </script>
  </p>  
  
  <p>Last Active: {{ person.lastVisit }}</p>
</body>
</html>
