<!DOCTYPE html>
<html>
<head>
  <title>{{ person.name }}</title>
  {% include "include/head.html" %}
</head>
<body>
  {% include "include/navbar.html" %}

  <h1>{{ person.name }}</h1>

  <p>
  <a href="{{ person.service }}" title="{{ person.service }}" class="_hs_socialshare" > </a>
  <script>
    var _hs = {
               size: 5,
               partner: "community.apache.org"
    };
    (function() {
                 var h = document.createElement('script'); h.type = 'text/javascript'; h.async = true;
                 h.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'dtirydke3kdq7.cloudfront.net/hootlet.js?v=1';
                 var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(h, s);
    })();
  </script>
  </p>


  <p><span class="right" style="border: 3px solid grey"><img src="{{ person.photo }}"></img></span> {{ person.bio }}</p>

  <p><a href="{{ person.url }}">Member's Home Page</a></p>

  <p>Last Active: {{ person.lastVisit }}</p>
  
  <div style="max-width:70%; max-height:600px; overflow:auto;">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Service</th>
            <th>City</th>
            <th>State</th>
            <th>Country</th>
            <th>Latitude</th>
            <th>Longitude</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ person.service }}</td>
            <td>{{ person.city }}</td>
            <td>{{ person.state }}</td>
            <td>{{ person.country }}</td>
            <td>{{ person.latitude }}</td>
            <td>{{ person.longitude }}</td>
          </tr>
        </tbody>
      </table>
  </div>

  <div style="max-width:70%; max-height:400px; overflow:auto; float:left;">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Topics</th>
          </tr>
        </thead>
        <tbody>
          {% for topic in person.topics.all %}
          <tr>
            <td>{{ topic }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>

  <div style="max-width:70%; max-height:400px; overflow:auto; float:left;">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Groups</th>
          </tr>
        </thead>
        <tbody>
          {% for group in person.groups.all %}
          <tr>
            <td>{{ group }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>
</body>
</html>
