<!DOCTYPE html>
<html>
<head>
  <title>{{ person.name }}</title>
  {% include "include/head.html" %}
</head>
<body>
  {% include "include/navbar.html" %}

  <h1>{{ person.name }}</h1>
  <p><span class="right"><img src="{{ person.photo }}"></img></span> {{ person.bio }}</p>

  <p>{{ person.city }}, {{ person.state }}, {{ person.country }} ({{ person.latitude }}, {{ person.longitude }})</p>

  <p><a href="{{ person.url }}">Source</a></p>

  <h2>Topics</h2>
  <ul>
    {% for topic in person.topics.all %}
      <li>{{ topic }}</li>
    {% endfor %}
  </ul>

  <h2>Groups</h2>
  <ul>
    {% for group in person.groups.all %}
      <li>{{ group }}</li>
    {% endfor %}
  </ul>

  <p>Last Active: {{ person.lastVisit }}</p>
</body>
</html>
