<!DOCTYPE html>
<html>
<head>
  <title>{{ personHost.name }}</title>
  {% include "include/head.html" %}
</head>
<body>
  {% include "include/navbar.html" %}

  <h1>{{ personHost.name }}</h1>

  <!--<form action="construction">
    <input type="submit" value="Tweet at this person">
  </form>-->

  <p>
  <!--<a href="{{ person.person_url }}" title="{{ person.tweet }}" class="_hs_socialshare">Share</a>-->
  <a href="{{ personHost.service }}" title="{{ personHost.service }}" class="_hs_socialshare" > </a>
  <script>
    var _hs = {
               size: 5,
               partner: "community.apache.org"
    };
    (function() {
                 var h = document.createElement('script'); h.type = 'text/javascript'; h.async = true;
                 h.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'dtirydke3kdq7.cloudfront.net/hootlet.js?v=1';
                 var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(h, s);
    })();
  </script>
  </p>


  <p><span class="right"><img src="{{ personHost.photo }}"></img></span> {{ personHost.bio }}</p>

  <p>{{ personHost.service }}, {{ personHost.city }}, {{ personHost.state }}, {{ personHost.country }} ({{ personHost.latitude }}, {{ personHost.longitude }})</p>

  <p><a href="{{ personHost.url }}">Host's Home Page</a></p>

  <p>Hosting Event: <a href="{{ personHost.event_link }}"> {{ personHost.eventname }}</a></p>

  <h2>Topics</h2>
  <ul>
    {% for topic in personHost.topics.all %}
      <li>{{ topic }}</li>
    {% endfor %}
  </ul>

  <p>Last Active: {{ personHost.lastVisit }}</p>


  <input type="button" value="Testing Click Count" onclick="set_test()">

  <script>

        var test = 0;    

        function set_test() {

                test++;
                function_one(test);
        }

        function function_one(test) {
                if (test > 1)
                {
                function_two(); // considering the next alert, I figured you wanted to call function_two first
                alert("The function called 'function_one' has been called.");
                }
        }

        function function_two() {
                alert("The function called 'function_two' has been called.");
        }
 
  </script>

</body>
</html>
