<!DOCTYPE html>
<html>
<head>
  <title>App Tweets</title>
  {% include "include/head.html" %}
</head>
<body>
  {% include "include/navbar.html" %}
  <h4>Tweets from the app</h4>
  {% for hashtag, data in tweets.items %}
    <div style="max-width:33%; max-height:600px; float:left; overflow:auto;">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#{{ hashtag }}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
            {% for tweet in data %}
              {% autoescape off %}{{ tweet }}{% endautoescape %}
            {% endfor %}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  {% endfor %}
</body>
</html>
