<!DOCTYPE html>
<html>
<head>
  <title>All Tweets</title>
  {% include "include/head.html" %}
</head>
<body>
  {% include "include/navbar.html" %}
  <h4>Tweets not from the app</h4>
  <table cellspacing="0" cellpadding="0" border="0" width="325">
    <!--{{ tweets }}-->
    {% for hashtag, data in tweets.items %}
      <tr>
        <td>
          <table cellspacing="0" cellpadding="1" border="1" width="300">
            <tr>
              <th>{{ hashtag }}</th>
            </tr>
          </table>
        </td>
      </tr>
        <td>
          <div style="width:500px; height:1000px; overflow:auto;">
            <table cellspacing="0" cellpadding="1" border="1" width="500">
                <td>
                  {% for tweet in data %}
                    {% autoescape off %}{{ tweet }}{% endautoescape %}
                  {% endfor %}
                </td>
            </table>
          </div>
        </td>
    {% endfor %}
  </table>
</body>
</html>
