<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>The Nearby Apache People - Page Not Found</title>
        <link media="screen, projection" type="text/css" href="http://apache.org/style/compressed.css" rel="stylesheet">
        <link media="screen, projection" type="text/css" href="http://apache.org/style/style.css" rel="stylesheet">
</head>

<body>
    <div class="container">
    <hr class="space col"/> 
     <div class="block">
       <div class="column span-24"> 
		<div id="header">
            <h1>We were unable to find your page</h1>
            <p class="alt">
            Brought to you by the <a href="http://community.apache.org">Apache Community Development Project</a>.
            </p>
		</div>
      </div>
    </div>
    <div id="menu">
      <table border="0" cellpadding="2" cellspacing="0" width="100%"> 
        <tr class="topBar"> 
            <td align="left" valign="middle" class="topBarDiv" nowrap="true" width="100%">
                &nbsp;<a href="http://community.apache.org" title="Community Development Site">Community Development Site</a>&nbsp;&gt;&nbsp;<a href="/pick_place" title="Find People">Find People</a> 
            </td> 
            <td align="right" valign="middle" class="topBarDiv" align="left" nowrap="true"> 
            <a href="http://community.apache.org/">Apache Community Development</a> | <a href="http://mail-archives.apache.org/mod_mbox/community-dev/">Mailling List</a> 
            </td> 
        </tr> 
      </table>
    </div>
		
		<div id="content">
            <p class="highlight">Please see the links below for where you might wish to visit instead:</p>
			<ul>
				<li><a href="http://community.apache.org/">The Apache Community Development Project</a></li>
				<li><a href="/">Search for nearby people</a></li>
				<li><a href="/pick_place/?type=lm">Search for Local Mentors</a></li>
				<li><a href="/pick_place/?type=sp">Search for Apache Speakers</a></li>
			</ul>
		</div>
	</div>
    </div>
</body>
</html>
